section div.container{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 50%;
}

section form{
    text-align: left;
}

#home{
    background: url('../img/cat1.jpg') top center;
    background-size: cover;
}

#about{
    background: url('../img/cat2.jpg') top center;
    background-size: cover;
}
