block variables
    - const page_title = "koaWeb";
    - var btn1 = "";
    - var btn2 = "";

#{username != "" ? (btn1 = username, btn2="LOG OUT") : (btn1 = "SIGN UP", btn2="LOG IN")}

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width-device-width,initial-scale=1.0")

        block title
            title= page_title
        block stylesheets
            link(rel="stylesheet", href="/css/layout.css", type="text/css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
            link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
            link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
    
    body
        block header
            nav.navbar.navbar-expand-sm.navbar-light.bg-light.fixed-top
                h2.nav-brand KoaWeb
                button.navbar-toggler(type="button",data-toggler="collapse",data-target="#navbarContent")
                    span.navbar-toggler-icon
                #navbarContent.collapse.navbar-collapse.row
                    ul.navbar-nav.offset-sm-7.col.justify-content-end
                        li.nav-item#menu-item-1
                            a.nav-link(href="/#home") HOME
                        li.nav-item#menu-item-2
                            a.nav-link(href="/#about") ABOUT
                        li.nav-item#menu-item-3
                            a.nav-link(href="/#contact") CONTACT
                        li.nav-item#menu-item-4
                            a.nav-link(href="/staff") STAFF
                        li.nav-item#menu-item-5
                            a.nav-link(href="/comment") COMMENT
                        li.nav-item.offset-sm-2#menu-item-6
                            a.nav-link #{btn1}
                        li.nav-item#menu-item-7
                            a.nav-link #{btn2}
                            
            #loginModal.modal(role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title.offset-sm-5 LOG IN
                            button.close(type='button', data-dismiss='modal')
                                i.fas.fa-times
                        .modal-body
                            form#loginForm.needs-validation(novalidate)
                                .form-group
                                    label(for='username') User Name
                                    input#username.form-control(name='username' required)
                                    .invalid-feedback.font-italic.font-weight-bold Please provide a username..
                                .form-group
                                    label(for='password') Password
                                    input#password.form-control(name='password', type='password' required)
                                    .invalid-feedback.font-italic.font-weight-bold Please provide a password..
                                .row.justify-content-end
                                    button.btn.btn-secondary.mr-sm-3(type='button', data-dismiss='modal') Close
                                    button#login.btn.btn-primary.mr-sm-3(type='submit') Log in

            #signupModal.modal(role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title.offset-sm-5 SIGN UP
                            button.close(type='button', data-dismiss='modal')
                                i.fas.fa-times
                        .modal-body
                            form#signupForm.needs-validation(novalidate)
                                .form-group
                                    label(for='username') User Name
                                    input#username.form-control(name='username' required)
                                    .invalid-feedback.font-italic.font-weight-bold Please provide a username..
                                .form-group
                                    label(for='password') Password
                                    input#password.form-control(name='password', type='password' required)
                                    .invalid-feedback.font-italic.font-weight-bold Please provide a password..
                                .row.justify-content-end
                                    button.btn.btn-secondary.mr-sm-3(type='button', data-dismiss='modal') Close
                                    button.btn.btn-primary.mr-sm-3(type='submit') Sign Up
                            
            
        block content
        block footer
        
        block javascripts
            script(src="https://code.jquery.com/jquery-3.3.1.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js",integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T",crossorigin="anonymous")
            script(src="/javascripts/layout")
                

